In [3]:
a = 10
if a < 10:
    print("A is less than 10")
else:
    print("A is <= 10")

A is <= 10

In [5]:
import pandas as pd
import numpy as np
mtcars_array = np.array([
    ["Car Brand1", 18, 4, 1000, 110, 3.9, 3.1, 16.46, 1, 4, 4, 4],
    ["Car Brand2", 24, 6, 2000, 120, 3.8, 3.5, 16.46, 0, 55, 4, 4],
    ["Car Brand3", 30, 8, 3000, 130, 3.7, 4.0, 16.46, 1, 4, 4, 4],
    ["Car Brand4", 14, 4, 4000, 140, 3.6, 3.2, 16.46, 0, 55, 3, 4],
    ["Car Brand5", 12, 4, 5000, 150, 3.5, 3.3, 16.46, 1, 4, 4, 4],
    ["Car Brand6", 20, 6, 6000, 160, 3.4, 3.6, 16.46, 0, 55, 3, 4],
    ["Car Brand7", 15.5, 4, 700, 170, 3.3, 3.4, 16.46, 0, 1, 4, 4],
    ["Car Brand8", 10, 4, 800, 180, 3.2, 3.3, 16.46, 0, 0, 3, 4],
    ["Car Brand9", 5, 4, 900, 190, 3.1, 3.2, 16.46, 0, 1, 5, 4],
    ["Car Brand10", 7, 4, 2000, 110, 3.0, 3.1, 16.46, 0, 55, 3, 4],
    ["Car Brand11", 22, 6, 3000, 111, 2.9, 3.7, 16.46, 1, 4, 4, 4],
    ["Car Brand12", 33, 8, 4000, 112, 2.8, 4.2, 16.46, 0, 55, 4, 4],
    ["Car Brand13", 46, 8, 5000, 113, 2.7, 4.3, 16.46, 1, 4, 5, 4],
    ["Car Brand14", 8, 4, 6000, 114, 2.5, 3.2, 16.46, 0, 55, 4, 4],
    ["Car Brand15", 60, 8, 7000, 115, 2.4, 4.4, 16.46, 1, 4, 5, 4]])
mtcars = pd.DataFrame(mtcars_array)
mtcars.columns = ['car', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb'] 
print(mtcars)

            car   mpg cyl  disp   hp drat   wt   qsec vs  am gear carb
0    Car Brand1    18   4  1000  110  3.9  3.1  16.46  1   4    4    4
1    Car Brand2    24   6  2000  120  3.8  3.5  16.46  0  55    4    4
2    Car Brand3    30   8  3000  130  3.7  4.0  16.46  1   4    4    4
3    Car Brand4    14   4  4000  140  3.6  3.2  16.46  0  55    3    4
4    Car Brand5    12   4  5000  150  3.5  3.3  16.46  1   4    4    4
5    Car Brand6    20   6  6000  160  3.4  3.6  16.46  0  55    3    4
6    Car Brand7  15.5   4   700  170  3.3  3.4  16.46  0   1    4    4
7    Car Brand8    10   4   800  180  3.2  3.3  16.46  0   0    3    4
8    Car Brand9     5   4   900  190  3.1  3.2  16.46  0   1    5    4
9   Car Brand10     7   4  2000  110  3.0  3.1  16.46  0  55    3    4
10  Car Brand11    22   6  3000  111  2.9  3.7  16.46  1   4    4    4
11  Car Brand12    33   8  4000  112  2.8  4.2  16.46  0  55    4    4
12  Car Brand13    46   8  5000  113  2.7  4.3  16.46  1   4    5    4
13  Car Brand14     8   4  6000  114  2.5  3.2  16.46  0  55    4    4
14  Car Brand15    60   8  7000  115  2.4  4.4  16.46  1   4    5    4

In [6]:
print(mtcars.head(3))

          car mpg cyl  disp   hp drat   wt   qsec vs  am gear carb
0  Car Brand1  18   4  1000  110  3.9  3.1  16.46  1   4    4    4
1  Car Brand2  24   6  2000  120  3.8  3.5  16.46  0  55    4    4
2  Car Brand3  30   8  3000  130  3.7  4.0  16.46  1   4    4    4

In [3]:
from pyspark.sql import SQLContext

In [4]:
from pyspark import SparkContext, SparkConf

In [5]:
conf = SparkConf().setAppName("HelloSpark").setMaster("local")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
sdf = sqlContext.createDataFrame(mtcars)

In [6]:
sdf = sqlContext.createDataFrame(mtcars)
sdf.printSchema()
sdf.show(32)

root
 |-- car: string (nullable = true)
 |-- mpg: string (nullable = true)
 |-- cyl: string (nullable = true)
 |-- disp: string (nullable = true)
 |-- hp: string (nullable = true)
 |-- drat: string (nullable = true)
 |-- wt: string (nullable = true)
 |-- qsec: string (nullable = true)
 |-- vs: string (nullable = true)
 |-- am: string (nullable = true)
 |-- gear: string (nullable = true)
 |-- carb: string (nullable = true)

+-----------+----+---+----+---+----+---+-----+---+---+----+----+
|        car| mpg|cyl|disp| hp|drat| wt| qsec| vs| am|gear|carb|
+-----------+----+---+----+---+----+---+-----+---+---+----+----+
| Car Brand1|  18|  4|1000|110| 3.9|3.1|16.46|  1|  4|   4|   4|
| Car Brand2|  24|  6|2000|120| 3.8|3.5|16.46|  0| 55|   4|   4|
| Car Brand3|  30|  8|3000|130| 3.7|4.0|16.46|  1|  4|   4|   4|
| Car Brand4|  14|  4|4000|140| 3.6|3.2|16.46|  0| 55|   3|   4|
| Car Brand5|  12|  4|5000|150| 3.5|3.3|16.46|  1|  4|   4|   4|
| Car Brand6|  20|  6|6000|160| 3.4|3.6|16.46|  0| 55|   3|   4|
| Car Brand7|15.5|  4| 700|170| 3.3|3.4|16.46|  0|  1|   4|   4|
| Car Brand8|  10|  4| 800|180| 3.2|3.3|16.46|  0|  0|   3|   4|
| Car Brand9|   5|  4| 900|190| 3.1|3.2|16.46|  0|  1|   5|   4|
|Car Brand10|   7|  4|2000|110| 3.0|3.1|16.46|  0| 55|   3|   4|
|Car Brand11|  22|  6|3000|111| 2.9|3.7|16.46|  1|  4|   4|   4|
|Car Brand12|  33|  8|4000|112| 2.8|4.2|16.46|  0| 55|   4|   4|
|Car Brand13|  46|  8|5000|113| 2.7|4.3|16.46|  1|  4|   5|   4|
|Car Brand14|   8|  4|6000|114| 2.5|3.2|16.46|  0| 55|   4|   4|
|Car Brand15|  60|  8|7000|115| 2.4|4.4|16.46|  1|  4|   5|   4|
+-----------+----+---+----+---+----+---+-----+---+---+----+----+

In [7]:
sdf.select('mpg').show(5)

+---+
|mpg|
+---+
| 18|
| 24|
| 30|
| 14|
| 12|
+---+
only showing top 5 rows

In [8]:
sdf.filter(sdf['mpg'] < 18).show()

+-----------+----+---+----+---+----+---+-----+---+---+----+----+
|        car| mpg|cyl|disp| hp|drat| wt| qsec| vs| am|gear|carb|
+-----------+----+---+----+---+----+---+-----+---+---+----+----+
| Car Brand4|  14|  4|4000|140| 3.6|3.2|16.46|  0| 55|   3|   4|
| Car Brand5|  12|  4|5000|150| 3.5|3.3|16.46|  1|  4|   4|   4|
| Car Brand7|15.5|  4| 700|170| 3.3|3.4|16.46|  0|  1|   4|   4|
| Car Brand8|  10|  4| 800|180| 3.2|3.3|16.46|  0|  0|   3|   4|
| Car Brand9|   5|  4| 900|190| 3.1|3.2|16.46|  0|  1|   5|   4|
|Car Brand10|   7|  4|2000|110| 3.0|3.1|16.46|  0| 55|   3|   4|
|Car Brand14|   8|  4|6000|114| 2.5|3.2|16.46|  0| 55|   4|   4|
+-----------+----+---+----+---+----+---+-----+---+---+----+----+

In [9]:
sdf.groupby(['cyl']).agg({"wt":"AVG"}).show()

+---+-------+
|cyl|avg(wt)|
+---+-------+
|  8|  4.225|
|  6|    3.6|
|  4|  3.225|
+---+-------+

In [10]:
car_counts = sdf.groupby(['cyl']).agg({"wt":"count"}).sort("count(wt)", ascending=False).show()

+---+---------+
|cyl|count(wt)|
+---+---------+
|  4|        8|
|  8|        4|
|  6|        3|
+---+---------+

In [11]:
sdf.withColumn('wtTon', sdf['wt'] * 0.45).select('car','wt','wtTon').show(6)

+----------+---+------------------+
|       car| wt|             wtTon|
+----------+---+------------------+
|Car Brand1|3.1|             1.395|
|Car Brand2|3.5|             1.575|
|Car Brand3|4.0|               1.8|
|Car Brand4|3.2|1.4400000000000002|
|Car Brand5|3.3|1.4849999999999999|
|Car Brand6|3.6|              1.62|
+----------+---+------------------+
only showing top 6 rows

In [12]:
sdf.registerTempTable("cars")
highgearcars = sqlContext.sql("SELECT car, gear FROM cars WHERE gear >= 5")
highgearcars.show()

+-----------+----+
|        car|gear|
+-----------+----+
| Car Brand9|   5|
|Car Brand13|   5|
|Car Brand15|   5|
+-----------+----+

In [13]:
import os 
pwd = os.getcwd()
print(pwd)

C:\Work\Projects\DataScience\jupyternotebooks

In [14]:
spark = sc.getOrCreate()

In [15]:
print(spark)

<SparkContext master=local appName=HelloSpark>

In [16]:
carsDf = sqlContext.read.format("csv").option("header", "true").load("./cars.csv")

In [17]:
print(carsDf)

DataFrame[mpg: string, cylinders: string, engine: string, horsepower: string, weight: string, acceleration: string, year: string, origin: string, name: string]

In [18]:
print(carsDf.show(5))

+---+---------+------+----------+------+------------+----+--------+--------------------+
|mpg|cylinders|engine|horsepower|weight|acceleration|year|  origin|                name|
+---+---------+------+----------+------+------------+----+--------+--------------------+
| 18|        8|   307|       130|  3504|          12|  70|American|chevrolet chevell...|
| 15|        8|   350|       165|  3693|        11.5|  70|American|   buick skylark 320|
| 18|        8|   318|       150|  3436|          11|  70|American|  plymouth satellite|
| 16|        8|   304|       150|  3433|          12|  70|American|       amc rebel sst|
| 17|        8|   302|       140|  3449|        10.5|  70|American|         ford torino|
+---+---------+------+----------+------+------------+----+--------+--------------------+
only showing top 5 rows

None

In [19]:
print(carsDf.show())

+---+---------+------+----------+------+------------+----+--------+--------------------+
|mpg|cylinders|engine|horsepower|weight|acceleration|year|  origin|                name|
+---+---------+------+----------+------+------------+----+--------+--------------------+
| 18|        8|   307|       130|  3504|          12|  70|American|chevrolet chevell...|
| 15|        8|   350|       165|  3693|        11.5|  70|American|   buick skylark 320|
| 18|        8|   318|       150|  3436|          11|  70|American|  plymouth satellite|
| 16|        8|   304|       150|  3433|          12|  70|American|       amc rebel sst|
| 17|        8|   302|       140|  3449|        10.5|  70|American|         ford torino|
| 15|        8|   429|       198|  4341|          10|  70|American|    ford galaxie 500|
| 14|        8|   454|       220|  4354|           9|  70|American|    chevrolet impala|
| 14|        8|   440|       215|  4312|         8.5|  70|American|   plymouth fury iii|
| 14|        8|   455|       225|  4425|          10|  70|American|    pontiac catalina|
| 15|        8|   390|       190|  3850|         8.5|  70|American|  amc ambassador dpl|
|nan|        8|   350|       165|  4142|        11.5|  70|American|chevrolet chevell...|
|nan|        8|   351|       153|  4034|          11|  70|American|    ford torino (sw)|
|nan|        8|   383|       175|  4166|        10.5|  70|American|plymouth satellit...|
|nan|        8|   360|       175|  3850|          11|  70|American|  amc rebel sst (sw)|
| 15|        8|   383|       170|  3563|          10|  70|American| dodge challenger se|
| 14|        8|   340|       160|  3609|           8|  70|American|   plymouth cuda 340|
|nan|        8|   302|       140|  3353|           8|  70|American|ford mustang boss...|
| 15|        8|   400|       150|  3761|         9.5|  70|American|chevrolet monte c...|
| 14|        8|   455|       225|  3086|          10|  70|American|buick estate wago...|
| 22|        6|   198|        95|  2833|        15.5|  70|American|     plymouth duster|
+---+---------+------+----------+------+------------+----+--------+--------------------+
only showing top 20 rows

None

In [ ]:
%%javascript
Jupyter.notebook.session.delete();